<h3>Form001</h3>

<input type="text" @bind-value="@message" />
<input type="type" @bind-value="@text" />
<button @onclick="ChangeText">Haz click aquí</button>
<div>
    @message
</div>
@code{
    [Parameter]
    public string Message { get; set; }

    string text = "";
    string message = "un contenido";

    protected override async Task OnInitializedAsync()
    {
        message = Message;
    }

    private void ChangeText()
    {
        message = text;
    }
}
